<copy-right>
  <div class="copy-right">
    <div class="container">
      <div class="copy-right-content">
        
        <div class="copy-right-text">
          {% if section.settings.enable_copy_right %}
          <p>&copy; {{ "now" | date: "%Y" }},{{ 'general.password_page.powered_by_shopify_html' | t }}</p>
          {% endif %}
        </div>
        
         {%- assign menu = footer_bottom_menu -%}       
        <div class="copy-right-links">        
          <ul>
              {%- for link in linklists[menu].links -%}   
               <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {%- endfor -%}
          </ul>        
        </div>
      </div>
    </div>
  </div>
</copy-right>