<section class="contact-title">
	<div class="container">
		<div class="about-title">
            {% include 'Breadcrumb' %}
			<h2>{{ page.title }}</h2>
		</div>
	</div>
</section>


{% schema %}
  {
    "name": "Contact Title Section",
    "settings": [],
    "presets": [
      {
        "name":"Contact Title Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}