<section class="faq-title">
	<div class="container">
		<div class="about-title">
            {% include 'Breadcrumb' %}
			<h2>{{ page.title }}</h2>
		</div>
	</div>
</section>


{% schema %}
  {
    "name": "Faq-title Section",
    "settings": [],
    "presets": [
      {
        "name":"Faq-title Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}