<section class="login-title">
	<div class="container">
		<div class="about-title">
			<h2>{{ 'customer.login_page.title' | t }}</h2>
		</div>
	</div>
</section>

<style>
  .login-title h2{
      padding-top: 55px !important;
  }
  @media (max-width:767px){
    .login-title h2{
        padding-top: 50px !important;
    }
  }
</style>

{% schema %}
  {
    "name": "Login-title Section",
    "settings": [
      
    ],
    "presets": [
      {
        "name":"Login-title Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}