.predictive-search {
/*   display: none; */
  position: absolute;
  top: calc(100% + 0.1rem);
  left: -0.1rem;
/*   border-style: solid; */
  background-color: #fff;
  z-index: 3;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.search__model{
  display: none;
}
.predictive-search--search-template {
  z-index: 2
}

@media screen and (max-width: 749px) {
  .predictive-search--header {
    right: 0;
    left: 0;
    top: 100%;
  }
}

@media screen and (max-width: 989px) {
  .predictive-search {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

  }
}

@media screen and (min-width: 750px) {
  .predictive-search {
    border-top: none;
    width: calc(100% + 0.2rem);
  }

  .header predictive-search {
    position: relative;
  }
}

predictive-search[open] .predictive-search,
predictive-search[loading] .predictive-search {
  display: block;
}

.predictive-search__heading {
  border-bottom: 0.1rem solid #ECECEC;
  margin: 0 auto;
  padding: .75rem 0 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 4rem);
  color: #121212b3;
  font-size: 1rem;
  letter-spacing: .13rem;
  text-transform: uppercase;
}

predictive-search .spinner {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 0;
}

.predictive-search__heading .spinner {
  margin: 0 0.2rem 0 2rem;
}

predictive-search:not([loading]) .predictive-search__heading .spinner,
predictive-search:not([loading]) .predictive-search__loading-state,
predictive-search:not([loading]) .predictive-search-status__loading {
/*   display: none; */
}

predictive-search[loading] .predictive-search__loading-state {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

predictive-search[loading] .predictive-search__heading ~ .predictive-search__loading-state,
predictive-search[loading] .predictive-search__results-list:first-child {
/*   display: none; */
}

.predictive-search__list-item:nth-last-child(2) {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.predictive-search__list-item[aria-selected="true"] > *,
.predictive-search__list-item:hover > * {
  color: rgb(var(--color-foreground));
  background-color: rgba(var(--color-foreground), 0.04);
}

.predictive-search__list-item[aria-selected="true"] .predictive-search__item-heading,
.predictive-search__list-item:hover .predictive-search__item-heading {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.predictive-search__item {
  display: flex;
  padding: 0.6rem 2rem;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

.predictive-search__item--link {
  display: grid !important;
  grid-template-columns: 5rem 1fr;
  grid-column-gap: 2rem;
  grid-template-areas: 'product-image product-content';
}

.predictive-search__item-content {
  grid-area: product-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.predictive-search__item-content--centered {
  justify-content: center;
}

.predictive-search__item-vendor {
  font-size: 0.9rem;
}

.predictive-search__item-heading {
  margin: 0;
}

.predictive-search__item .price {
  color: rgba(var(--color-foreground), 0.7);
  font-size: 1.2rem;
}

.predictive-search__item-vendor + .predictive-search__item-heading,
.predictive-search .price {
  margin-top: 0.5rem;
}

.predictive-search__item--term {
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 2rem;
  word-break: break-all;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #ECECEC;
  cursor: pointer;
}

@media screen and (min-width: 750px) {
  .predictive-search__item--term {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.predictive-search__item--term .icon-arrow {
  width: calc(var(--font-heading-scale) * 1.4rem);
  height: calc(var(--font-heading-scale) * 1.4rem);
  flex-shrink: 0;
  margin-left: calc(var(--font-heading-scale) * 2rem);
  color: rgb(var(--color-link));
}

.predictive-search__image {
  grid-area: product-image;
  object-fit: contain;
  font-family: 'object-fit: contain';
  height: 50px;
  width: 50px;
}
h3.predictive-search__item-heading.h5 {
    font-size: 13px;
    font-weight: 400;
    color: #121212;
    letter-spacing: .06rem;
}

/* ========================= 06/09/22 ========================= */

.header predictive-search input#Search {
    width: 100%;
    height: 45px;
    padding: 15px 50px 15px 15px;
}
predictive-search.search-modal__form .field {
    position: relative;
}
button.search__button.field__button {
    border: 0;
    background: transparent;
    position: absolute;
    right: 15px;
    top: 13px;
    cursor: pointer;
}
button.search__button.field__button svg#Capa_1{
    height: 18px;
    width: 18px;
}
button.search__button.field__button svg#Capa_1 path {
    fill: #121212bf;
}
button.modal__close-button.link.link--text.focus-inset svg {
    fill: #121212bf;
}
.search-modal__content.search-modal__content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-width: 40%;
    width: 100%;
}
.header predictive-search {
    position: relative;
    flex: 0 0 90%;
    max-width: 90%;
}
button.modal__close-button.link.link--text.focus-inset {
    background: transparent;
    border: none;
    flex: 0 0 10%;
    max-width: 10%;
    padding-top: 9px;
    cursor: pointer;
}
.search-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.header {
  position: relative;
}
.modal-overlay:after {
    position: absolute;
    content: "";
    background-color: #000000a3;
    top: 100%;
    left: 0;
    right: 0;
    height: 100vh;
}

/* 10/09/22 */

div#predictive-search-results {
    background-color: #fff;
}
div#predictive-search {
    position: absolute;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    z-index: 3;
    top: calc(100% + 0.1rem);
    left: -0.1rem;
    width: 100%;
}
a.predictive-search__item {
    display: grid !important;
    grid-template-columns: 5rem 1fr;
    grid-column-gap: 0;
    grid-template-areas: "product-image product-content";
}
@media (max-width:767px){
    .search-modal__content.search-modal__content-bottom{
        max-width: 90%;
    }
    ul#predictive-search-results-list {
        width: calc(100% - 4rem);
        margin: 0 2rem;
    }
    img.predictive-search__image {
        max-width: 50px !important;
    }
    li.predictive-search__list-item {
        padding: 10px 0;
    }
}

#searchresults ol {
    max-width: 1400px;
    margin: 0 auto;
}
#searchresults ol li {
    margin: 30px 0px;
    clear: left;
}
#searchresults h3 {
    margin: 0 0 10px;
    display: inline-block;
}
.result-image a img {
    width: 100px;
    display: inline-block;
}
#searchresults span {
    display: block;
}
.result-image {
    margin-right: 20px;
}
#searchresults p {
    display: flex;
    justify-content: center;
}
#searchresults p span {
    padding: 0 5px;
    width: auto;
}
@media (max-width:767px){
    .search.grid__item{
        flex: 0 0 33.33% !important;
        max-width: 33.33% !important;
    }
}
@media (max-width:576px){
    #searchresults span {
        display: inline-block;
        width: 70%;
    }
    .search.grid__item{
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}
@media (max-width:430px){
    #searchresults span {
        display: inline-block;
        width: 60%;
    }
}

.main--search--section .container {
    max-width: 1200px;
}
.search.grid__item {
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 30px;
    padding: 0 15px;
}
.main--search--section h1.h2 {
    padding: 55px 0 20px;
    text-align: center;
    font-size: 24px;
    color: #000;
}
.main--search--section .trending--item--image img{
    margin-bottom: 20px;
}
.main--search--section .search-modal{
    position: unset;
    margin-bottom: 60px;
}
.main--search--section .search-modal__content.search-modal__content-bottom{
    display: inline-block;
}
.main--search--section input#Search {
    width: 100%;
    height: 45px;
    padding: 15px 50px 15px 15px;
}
.main--search--section predictive-search {
    position: relative;
}
.main--search--section div#predictive-search{
    top: calc(100% + 0rem);
}
.pagination--snippets-content {
    text-align: center;
    margin: 50px 0 80px;
}
.card__content{
    padding: 1rem 0;
}
.card-wrapper.underline-links-hover {
    height: 100%;
    background-color: #eee;
    padding: 1rem;
}






