
  .unique{
    background-color: #FFE8E7;
    padding-top: 87px;
  }
  span.unique_text{
      font-style: italic;
      font-weight: 700;
      font-size: 148px;
      letter-spacing: 0.07em;
      color: #FFDFDE;
      text-align: center;
      display: inline-block;
      width: 100%;
      line-height: initial;
  }
  @media (max-width:1700px){
      span.unique_text{
        font-size: 148px;
      }
  }
  @media (max-width: 767px){
      .unique {
          padding-top: 50px;
      }
      span.unique_text{
          font-size: 50px !important;
      }
  }
   @media (max-width: 480px){
      span.unique_text{
          font-size: 48px !important;
      }
  }